{% extends 'base/main.html' %}
{% block content%}

<div class="lg">
    <div>
        <div class="hello-user">Hello {{request.user|title}}</div>
        <div style="margin: 0"> You have {{count}} incomplete tasks.</div>
    </div>

{% if request.user.is_authenticated %}

<a href="{% url 'logout' %}">Logout</a>
{%else %}
<a href="{% url 'login' %}">Login</a>
{%endif%}
</div>
<hr>
<div class="mtdl">My To Do List</div>
<div class="add-task">
<a href="{% url 'task-create'%}">Add Task</a></div>


<div class="th"><b>Items</b></div>
<div class="task-items">
    {% for task in tasks %}
    <div class="indiv-task">
        {% if task.complete %}
        <div class="task-title">
            
            <s><a href="{% url 'task-update' task.id%}">{{task}}</a></s>
        </div>
        <a href="{% url 'task-delete' task.id%}" class="delete-link">&#215;</a>
        {% else %}
        <div class="task-title">
            
            <a href="{% url 'task-update' task.id%}">{{task}}</a>

        </div>
        <a href="{% url 'task-delete' task.id%}" class="delete-link">&#215;</a>
        {% endif %}
    </div>
    {% empty %}
</div>
<h3>No Item in list</h3>
    {%endfor %}



{% endblock content%}